/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

body {
  background: linear-gradient(90deg, #596164 0%, #51585b1a 100%);
}

input[type="checkbox"] {
  accent-color: rgb(125, 108, 110);
}

.pagination .page-link {
  color: #000000;
}

.pagination .page-item.active .page-link {
  background-color: rgb(125, 108, 110);
  border-color: rgb(125, 108, 110);
}
