i {
  margin-left: 10px;
  font-size: 25px;
}

.edit-btn-style {
  border: none;
  color: #9b9b9b;
  background-color: transparent;
}

.edit-btn-style:hover {
  color: #5a5a5a;
}

.btn-new {
  color: #8b8b8b;
  border: 1px solid rgb(126, 126, 126);
}

.btn-style {
  font-weight: bold;
  text-transform: capitalize;
  height: auto;
  align-items: center;
  margin-bottom: 2%;
  font-size: 20px;
  width: auto;
}

@media (min-width: 1000px) {
  .btn-style {
    height: 70%;
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .btn-style {
    height: 70%;
    font-size: 1.5vw;
  }
}

.btn-style:hover {
  background-color: rgb(230, 230, 230);
}

.description {
  color: #6c757d;
}

.pagination > li > a {
  background-color: white;
  color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: purple;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: purple;
  border: solid 1px purple;
}

.pagination > .active > a:hover {
  background-color: purple;
  border: solid 1px purple;
}

.table-style {
  background-color: rgb(125, 108, 110);
  color: white;
}
