<div class="card rounded shadow-sm p-3">
  <h4 class="card-title">Área do Cliente</h4>
  <form [formGroup]="form">
    <div class="p-3 card card-style">
      <h5 class="card-title"></h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome do Cliente/Razão Social:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched }"
            formControlName="name"
            tooltip="Nome completo ou Razão Social do Cliente."
            placement="right"
          />
          <div *ngIf="f.name.hasError('required')" class="invalid-feedback">
            Nome é obrigatório.
          </div>
          <div *ngIf="f.name.hasError('maxlength')" class="invalid-feedback">
            O tamanho máximo é de 150 caracteres.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>E-Mail:</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            tooltip="E-mail do Cliente."
            placement="right"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
          />
          <div *ngIf="f.email.hasError('required')" class="invalid-feedback">
            Email é obrigatório.
          </div>
          <div *ngIf="f.email.hasError('maxlength')" class="invalid-feedback">
            O tamanho máximo é de 150 caracteres.
          </div>
          <div *ngIf="f.email.hasError('email')" class="invalid-feedback">
            Insira um e-mail válido.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="(##) ####-####"
            mask="(00) 00000-0000"
            tooltip="Telefone do Cliente."
            placement="right"
            [ngClass]="{ 'is-invalid': f.phone.errors && f.phone.touched }"
          />
          <div *ngIf="f.phone.hasError('required')" class="invalid-feedback">
            Telefone é obrigatório.
          </div>
          <div *ngIf="f.phone.hasError('maxlength')" class="invalid-feedback">
            O tamanho máximo é de 11 caracteres.
          </div>
          <div *ngIf="f.phone.hasError('pattern')" class="invalid-feedback">
            Insira um telefone válido.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Data de Cadastro</label>
          <input
            type="text"
            class="form-control"
            formControlName="registerDate"
            tooltip="Data de Cadastro"
            placement="right"
            [value]="f.registerDate.value | date : 'dd/MM/yyyy'"
          />
        </div>
      </div>
    </div>
    <div class="p-3 card card-style">
      <h5 class="card-title">Informações Pessoais</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Tipo de Pessoa:</label>
          <input
            class="form-control"
            type="hidden"
            formControlName="type"
            name="type"
            [value]="typeTitle"
            [ngClass]="{ 'is-invalid': f.type.errors && f.type.touched }"
          />
          <div dropdown>
            <button
              id="button-basic"
              tooltip="Selecione o tipo de Pessoa."
              placement="right"
              dropdownToggle
              type="button"
              class="btn btn-style dropdown-toggle form-control"
              aria-controls="dropdown-basic"
            >
              {{ typeTitle }}<span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu dropdown-style"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeTypeTitle('Física')"
                  >Física</a
                >
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeTypeTitle('Jurídica')"
                  >Jurídica</a
                >
              </li>
            </ul>
          </div>
          <div *ngIf="f.type.hasError('required')" class="invalid-feedback">
            Tipo de pessoa é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>CPF/CNPJ:</label>
          <input
            type="text"
            class="form-control"
            formControlName="identityDocument"
            tooltip=" Insira o CPF ou o CNPJ do Cliente."
            placement="right"
            [mask]="
              f.identityDocument?.value?.length === 11
                ? '000.000.000-000'
                : '00.000.000/0000-00'
            "
          />
        </div>
      </div>
      <div *ngIf="typeTitle !== 'Jurídica'" class="form-row">
        <div class="form-group col-md-6">
          <label>Gênero:</label>
          <input
            class="form-control"
            type="hidden"
            formControlName="gender"
            name="gender"
            tooltip="Selecione o gênero do Cliente."
            placement="right"
            [value]="genderTitle"
          />
          <div dropdown>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn btn-style dropdown-toggle form-control"
              aria-controls="dropdown-basic"
            >
              {{ genderTitle }}<span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu dropdown-style"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeGenderTitle('Feminino')"
                  >Feminino</a
                >
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  (click)="changeGenderTitle('Masculino')"
                  >Masculino</a
                >
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeGenderTitle('Outro')"
                  >Outro</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Data de Nascimento:</label>
          <input
            type="text"
            class="form-control"
            formControlName="dateOfBirth"
            tooltip=" Data de nascimento do Cliente."
            placement="right"
            [value]="f.dateOfBirth.value | date : 'dd/MM/yyyy'"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Inscrição Estadual:</label>
          <input
            type="text"
            class="form-control"
            formControlName="stateRegistration"
            tooltip="Inscrição Estadual do Cliente, selecionar Isento caso assim for."
            placement="right"
            mask="000.000.000-000"
            [readOnly]="f.free.value"
          />
        </div>
        <div class="form-group col-md-6">
          <label>Isento:</label>
          <input
            type="checkbox"
            class="form-control check-free"
            formControlName="free"
            [checked]="setChecked()"
          />
        </div>
      </div>
    </div>
    <div class="p-3 card card-style">
      <h5 class="card-title">Situação do Cliente</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Bloqueado:</label>
          <input
            tooltip="Bloqueia o acesso do Cliente na sua Loja."
            placement="right"
            type="checkbox"
            class="form-control check-free"
            formControlName="isBlocked"
          />
        </div>
      </div>
    </div>
    <div class="p-3 card card-style" *ngIf="saveState == 'post'">
      <h5 class="card-title">Senha de Acesso</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Senha</label>
          <input
            type="password"
            tooltip="Cadastre a senha de acesso do seu Cliente;"
            placement="right"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid': f.password.errors && f.password.touched
            }"
          />
          <div *ngIf="f.password.hasError('required')" class="invalid-feedback">
            Senha é obrigatória.
          </div>
          <div
            *ngIf="f.password.hasError('minlength')"
            class="invalid-feedback"
          >
            O tamanho mínimo de caracteres é de 8.
          </div>
          <div
            *ngIf="f.password.hasError('maxlength')"
            class="invalid-feedback"
          >
            O tamanho máximo de caracteres é de 15.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Confirmação de Senha</label>
          <input
            type="password"
            class="form-control"
            formControlName="passwordConfirmation"
            [ngClass]="{
              'is-invalid':
                f.passwordConfirmation.errors && f.passwordConfirmation.touched
            }"
          />
          <div
            *ngIf="f.passwordConfirmation.hasError('required')"
            class="invalid-feedback"
          >
            A confirmação de senha é obrigatória.
          </div>
          <div
            *ngIf="f.password.value !== f.passwordConfirmation.value"
            class="text-danger"
          >
            As senhas não coincidem.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="cancelOperation()"
        >
          Cancelar Alteração
        </button>
        <button class="btn btn-success" (click)="saveCustomer()">
          Salvar Cliente
        </button>
      </div>
    </div>
  </form>
</div>
